@page
@using RazorMusic.Models
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Welcome to uor websit</h1>
    <p>Learn about <a href="https://learn.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
    
    <div>
        <div style="text-align: left; width=20%; float: left; margin-bottom: 100px;">
            <form method="post">

                <p>Album Name</p>
                <input name="AlbumName" type="text">

                <br />

                <p>Release Date</p>
                <input Name="ReleaseDate" type="date">

                <br />

                <p>Artist</p>
                <input Name="Artist" type="text">

                <br />

                <p>Type</p>
                <select Name="Type" name="type">
                    <option value="1">Single</option>
                    <option value="2">EP</option>
                    <option value="3">LP</option>
                </select>

                <br />
                
                <p>Description</p>
                <input Name="Description" type="text"
                    style="
                        height: 100px;"
                >

                <br />

                <p>Tracks</p>
                <div>
                    1.  <input name="Track1" type="text"> <br />
                    2.  <input name="Track2" type="text"> <br />
                    3.  <input name="Track3" type="text"> <br />
                    4.  <input name="Track4" type="text"> <br />
                    5.  <input name="Track5" type="text"> <br />
                    6.  <input name="Track6" type="text"> <br />
                    7.  <input name="Track7" type="text"> <br />
                    8.  <input name="Track8" type="text"> <br />
                    9.  <input name="Track9" type="text"> <br />
                    10. <input name="Track10" type="text"> <br />
                </div>

                <br />
                <input type="submit" value="Send">
            </form>
        </div>
        <div style="text-align: left; width=1000px;">
            <table class="table_component" style="float: right;">
                <thead>
                <tr>
                    <th>Album Name</th>
                    <th>Release Date</th>
                    <th>Artist</th>
                    <th>Type</th>
                    <th>Description</th>
                    <th>Tracks</th>
                </tr>
                </thead>
                <tbody>
                @foreach (var album in Model.Albums)
                {
                    <tr>
                        <td>@album.AlbumName</td>
                        <td>@album.ReleaseDate.ToString("yyyy-MM-dd")</td>
                        <td>@album.Artist</td>
                        <td>@album.AlbumType</td>
                        <td style="text-wrap: wrap; width=100px">@album.Description</td>
                        <td>
                            <ul>
                                @foreach (var track in album.Tracks)
                                {
                                    @if(track != ""){ <li>@track</li> }
                                }
                            </ul>
                        </td>
                    </tr>
                }
                </tbody>
            </table>
        </div>
    </div>
</div>
